@if (isHeaderEnabled()){
    <header class="w-100 bg-transparent m-0 p-4 d-flex justify-content-between align-items-center flex-column flex-sm-row border-bottom border-2 border-gray">
        <h2 class="text-white">Callio</h2>
        <div class="position-relative" id="containner-avatar">
            <img src="./assets/imgs/avatar.png" alt="Imagen avatar para el usuario" class="avatar-img">
            <div class="position-absolute shadow rounded p-3 w-100 border border-1 border-gray d-flex gap-2 flex-column d-none" id="container-menu-avatar">
                <div class="d-flex flex-row gap-2 align-items-center" (click)="logout()" role="button">
                    <i class="bi bi-box-arrow-right text-white"></i>
                    <span class="text-white">Cerrar sesión</span>
                </div>
                <hr class="border-white m-0 w-100">
                <div class="d-flex flex-row gap-2 align-items-center" (click)="deleteAccount()" role="button">
                    <i class="bi bi-trash-fill text-white"></i>
                    <span role="button" class="text-white">Borrar cuenta</span>
                </div>
            </div>
        </div>
    </header>
}