.toast-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}