

:host .bg-light{
    background-color: var(--light-gray);
}

:host .bg-light-black{
    background-color: var(--bs-body-color);
}

:host .rotate::before{
    transform: rotate(135deg);
}

:host .icon-size::before{
    width: 48px;
    height: 48px;
}

:host .videocalls{
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr; 
}

:host .videocalls:has(> :nth-child(3)) {
    grid-template-columns: 1fr 1fr;
}


:host .selector-device-container{
    bottom: 120%;
    width: 75vw;
}


@media (max-width: 576px) {
    :host .selector-device-container{
        flex-direction: column !important;
    }
}

@media (max-width: 992px) {
    :host .container-audio-buttons, :host .container-cam-button{
        position: unset !important;
    }

    :host .selector-device-container{
        width: 100%;
        left: 50%;
        transform: none;
    }
}

@media (min-width: 992px) {
    :host .videocalls:has(> :nth-child(2)) {
        grid-template-columns: 1fr 1fr;
    }

    
}