<div class="w-100 h-100 d-flex flex-column p-4 gap-4">
    <h2 class="text-white">Tus videoconferencias</h2>
    <div class="videocall-container">

        @for (call of calls(); track call.roomId) {
            <div class="videocall-card">
                <h3 class="text-white">{{call.name}}</h3>
            </div>
        }
        
        <div class="videocall-card" style="cursor: pointer;" (click)="createCall()"><i class="bi bi-plus-circle text-white fs-1"></i></div>

    </div>
    <h2 class="text-white">Invitaciones</h2>
    <div class="videocall-container">

    </div>
</div>