:host {
    display: block;
    background-color: var(--bs-body-color);
    height: 100%;
}

.videocall-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    width: 100%;
}

.videocall-card {
    min-height: 250px; 
    border-radius: 20px;
    border: 2px solid var(--light-gray);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    min-width: 200px;
    max-width: 300px;
    width: 15%;
}

#own-calls-container > .videocall-card:last-child{
    cursor: pointer;
}

.contact-container .contact:first-of-type{
    border-top: 2px solid var(--light-gray);
}

.border-gray{
    border-color: var(--light-gray) !important;
}

.contact > i{
    cursor: pointer;
}

.container-emails{
    background-color: var(--light-gray);
}

#creationCallForm{
    max-width: 600px;
    min-width: 500px;
}