<ng-container *transloco="let t">
    <select [ngModel]="device()?.deviceId ?? ''" (ngModelChange)="onDeviceChange($event)" class="form-select bg-dark text-light rounded h-100 w-100">
        <option value="" disabled class="bg-dark text-light">{{ t('videocall.defaultTextDeviceSelector') }}</option>

        @for (deviceItem of devices; track deviceItem.deviceId) {
            <option [ngValue]="deviceItem.deviceId" class="bg-dark text-light text-truncate d-inline-block">
                {{ deviceItem.label }}
            </option>
        } @empty {
            <option value="" disabled class="bg-dark text-light text-truncate d-inline-block">No se encontraron dispositivos</option>
        }
    </select>
</ng-container>